
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.App {
  text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#map-container {
  width: 500px;
  height: 500px;
}

.map-container {
  width: 80%;
  height: 80%;
  background-color: teal;
}

.covid-connection-header {
  /* margin-left: 50px;
  margin-right: 50px;  */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: teal;
  font-family: 'Open Sans', sans-serif;
  padding-top: 40px;
  padding-bottom: 150px;
  
}

.map-container-div {
  display: flex;
  flex-direction: column;
}
.background-div {
  background-color: teal;
  width: 100%;
}
.map-header {
  background-color: teal;
  text-decoration: underline orange;
  text-align: center;
  padding: 0;
  margin: 0;
}


.covid-small-text {
  width: 500px;
  font-family: 'Roboto', sans-serif;
}

.login-text-button {
  color: white; 
  text-decoration: none;
  width: 200px;
  height: 40px;
  text-align: center;
}

.nav-buttons-logged-in {
  height: 30px;
  width: 100px;
}

.nav-btns-top {
  display: flex;
  align-items: center;
}

.nav-bar-top {
  background-color:teal;
}

.covid-big-text {
   border-bottom: 2px solid orange;
}


@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Oxygen:wght@300&display=swap');
​
#favor-form {
  font-family: 'Oxygen', sans-serif;
  /* display: flex; */
  margin-left: 50px
}
​
​
​
​
​
#favor-form-button {
  background-color: orange;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}
​
​
#text-form {
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: 'Times New Roman', Times, serif
}
​
#input-form {
  border: 3px solid #cccccc;
	padding: 5px;
	font-family: 'Times New Roman', Times, serif
}
​
​
​
#favor-form-title {
  font-family: 'Oxygen', sans-serif;
  margin-top: 100px;
  margin-left: 50px;
}

.text-map-div {
  height: 300px;
}

