
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.App {
  text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#map-container {
  width: 500px;
  height: 500px;
}

.map-container {
  width: 80%;
  height: 80%;
  background-color:  #E5E5E5;
}

.covid-connection-header {
  /* margin-left: 50px;
  margin-right: 50px;  */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: #005EAA;
  font-family: 'Open Sans', sans-serif;
  padding-top: 40px;
  padding-bottom: 50px;
  height: 100%;
  
}

.map-container-div {
  display: flex;
  flex-direction: column;
}
.background-div {
  background-color:#005eaa;
  width: 100%;
}
.map-header {
  background-color: #005eaa;
  border-bottom: 4px solid orange;
  
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}


.covid-small-text {
  width: 500px;
  font-family: 'Open Sans', 'sans-serif';
}
.covid-md-text {
  width: 750px;
  font-family: 'Open Sans', 'sans-serif';
}

.login-text-button {
  color: white; 
  text-decoration: none;
  width: 200px;
  height: 40px;
  text-align: center;
}

.nav-buttons-logged-in {
  height: 30px;
  width: 100px;
}

.nav-btns-top {
  display: flex;
  align-items: center;
}

.nav-bar-top {
  background-color:#005eaa;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
}

.nav-bar-left {
  display: flex;
  justify-content: center;
}

.covid-big-text {
   border-bottom: 4px solid orange;
}


@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Oxygen:wght@300&display=swap');
​
#favor-form {
  /* font-family: 'Josefin Sans', sans-serif; */
  /* font-family: 'Oxygen', sans-serif; */
  /* display: flex; */
  margin-left: 50px;
  box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, .4);

}
​
​
​
​
​
#favor-form-button {
  background-color: orange;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}


   #favor-form-button:hover{
     background-image: none;
     filter: brightness(85%);
    }


#favor-form-button[disabled] {
  cursor: not-allowed;
  background-color: #f4f5f7;
  color: #a5adba;
}

​
​
#text-form {
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: 'Times New Roman', Times, serif
}
​
#input-form {
  border: 3px solid #cccccc;
	padding: 5px;
	font-family: 'Times New Roman', Times, serif
}
​
​
​
#favor-form-title {
  /* font-family: 'Oxygen', sans-serif; */
  /* font-family: 'Josefin Sans', sans-serif; */
  margin-top: 100px;
  margin-left: 50px;
}

#favor-form{

  
   outline: 1px solid black;
   padding: 20px;
   /* background:whitesmoke; */
   position: relative;
   height: 550px;
   width: 550px;
  background-color: #005eaa;

 
}

.text-map-div {
  height: 300px;
}

body {
  margin: 0;
  font-family: 'Oxygen', sans-serif;
  /* color: #fff; */
}



   .nav-buttons-logged-in:hover{
     background-image: none;
     filter: brightness(85%);
    }


   .nav-btns-top:hover{
     background-image: none;
     filter: brightness(85%);
    }

.nav-bar-right {
  display: flex;
  margin-left: 2%;
}