.newsfeed-whole {
    background-color:white;
    display: flex; 
    flex-direction: column;
    align-items: center;
    height: 100%;
    color:  #005eaa;
}

@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');
@font-face{

font-family: 'langar' , cursive;
src: url('https://fonts.googleapis.com/css2?family=Langar&display=swap');

}

.whole-favor {
    font-family: 'Josefin Sans', sans-serif;
    width: 40%;
    margin-bottom: 30px;
    text-align: center;
}

.favor-header {
    margin-bottom: 5px;
}

.news-banners {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: auto;
    overflow: auto;
    margin: 0;
    padding: 0;
    position: fixed;
    justify-content: space-evenly;
    margin-top: 30px;
    left: 0;
    padding-left: 0;
    margin-left: 5px;
}

#newsfeed-title {
    margin-top: 5%;
}

.showLinks {
    color: #005eaa;
}

.favor-newsfeed {
    color: darkblue;
}

p.favor-newsfeed {
    color: darkblue;
}

.favor-item2 {
    border: 1px solid black;
     padding-bottom: 20px;
     width: 33%;
     margin-left: 500px;
     border-radius: 12px;
     background-color: lightgray;
}