.new-splash-cont {
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    
}

.navbar-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-left: 5%;
    margin-right: 40%;
}

li > a {
    color: white;
}

.nav-item {
    width: 100%;
    margin-left: 3%;
    margin-right: 010%;
    padding: 4%;
}

.nav-bar-title {
    margin-left: 3%;
    color: white;
}

.nav-item:hover {
    border: 1px solid white;
    transition: border .5s linear;
}
.main-splash-items {
    margin: auto;
    width: 50%;
    text-align: center;
    margin-top: 10%;
    color: white;
}

.splash-main-button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 8px;
}

.main-splash-text {
    font-weight: bold;
    font-size: 350%;
}

.splash-new-btn-log {
    color: white;
    background-color: black;
    border: none;
}